* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Eudoxus Sans";
  src: url("./fonts/EudoxusSans-Medium.woff2") format("woff2"),
    url("./fonts/EudoxusSans-Medium.woff") format("woff"),
    url("./fonts/EudoxusSans-Medium.woff2") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Eudoxus Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
